name: Codespell

on:
  push:
    branches: [ master, main, develop ]
  pull_request:
    branches: [ '**' ]

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: codespell-project/actions-codespell@v2
      with:
        skip: "*.lock,*.json,target,node_modules,.git,venv,venv_windows"
        ignore_words_list: "crate,ser,deser,ba,nd,te,dne,ue"
        check_filenames: true
        check_hidden: false

